<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>专利文件标记替换</title>
    <!-- import Vue.js -->
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <!-- import stylesheet -->
    <link href="https://cdn.bootcss.com/iview/2.14.0/styles/iview.css" rel="stylesheet">
    <!-- import iView -->
    <script src="https://cdn.bootcss.com/iview/2.14.0/iview.min.js"></script>
    <style>
        #app {
            width: 90%;
            margin: auto;
        }

        .header,
        .footer {
            padding: 1em;
            text-align: center;
            background-color: #2d8cf0;
            color: white;
        }

        .header span {
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .header .problem {
            font-size: 12px;
            cursor: pointer;
        }

        .problem-list {
            margin: -15px 0 0 15px;
            font-weight: bold;
        }

        .footer a {
            color: white;
        }

        .card-box {
            padding: 1em;
        }

        .card-item {
            margin: 1em 0;
        }

        .output-box {
            word-wrap: break-word;
        }

        .output {
            padding: 0.5em;
            text-indent: 2em;
        }
    </style>
</head>

<body>
    <div id="app">
        <Layout>
            <Header class="header">
                <span>
                    专利文件标记替换
                </span>
                <span class="problem" @click="confirmModal">常见问题</span>
            </Header>
            <Row>
                <i-col :xs="24" :sm="12" :md="12" :lg="12">
                    <div class="card-box">
                        <div class="card-item">
                            <Card padding="1em">
                                <p slot="title">
                                    <Icon type="document-text"></Icon>
                                    附图标记
                                </p>
                                <i-button @click="clearReferenceNumeral" slot="extra" icon="trash-a" type="warning" size="small">
                                    清除输入内容
                                </i-button>
                                <div>
                                    <i-input type="textarea" v-model="referenceNumeral" :autosize="{minRows: 2}" placeholder="请输入附图标记内容，附图标记请以逗号隔开"></i-input>
                                </div>
                            </Card>
                        </div>
                        <div class="card-item">
                            <Card>
                                <p slot="title">
                                    <Icon type="document-text"></Icon>
                                    待处理文本
                                </p>
                                <i-button @click="clearRightsRequest" slot="extra" icon="trash-a" type="warning" size="small">
                                    清除输入内容
                                </i-button>
                                <div>
                                    <i-input type="textarea" v-model="rightsRequest" :autosize="{minRows: 10}" placeholder="请输入需要标记的文本"></i-input>
                                </div>
                            </Card>
                        </div>
                    </div>
                </i-col>
                <i-col :xs="24" :sm="12" :md="12" :lg="12">
                    <div class="card-box">
                        <div class="card-item">
                            <Card>
                                <p slot="title">
                                    <Icon type="clipboard"></Icon>
                                    权利要求标记（带括号标记）
                                </p>
                                <div class="output-box">
                                    <p class="output" v-for='output in outputWithBracket'>
                                        {{ output }}
                                    </p>
                                </div>
                            </Card>
                        </div>
                        <div class="card-item">
                            <Card>
                                <p slot="title">
                                    <Icon type="clipboard"></Icon>
                                    实施例标记（无括号标记）
                                </p>
                                <div class="output-box">
                                    <p class="output" v-for='output in outputWithoutBracket'>
                                        {{ output }}
                                    </p>
                                </div>
                            </Card>
                        </div>
                        <div class="card-item">
                            <Card>
                                <p slot="title">
                                    <Icon type="clipboard"></Icon>
                                    清除文本中的所述和其特征在于
                                </p>
                                <div class="output-box">
                                    <p class="output" v-for='output in outputWithoutSaidArr'>
                                        {{ output }}
                                    </p>
                                </div>
                            </Card>
                        </div>
                    </div>
                </i-col>
            </Row>
            <footer class="footer">
                <p>
                    <a href="https://github.com/huanghaibin91/Patent-Specification" target="_black">
                        <Icon type="social-github"></Icon>&nbsp;Writed By Huang Haibin
                    </a>
                </p>
            </footer>
        </Layout>
        <back-top></back-top>
    </div>

    <!-- js -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                referenceNumeral: '',
                rightsRequest: ''
            },
            computed: {
                numeralArr: function () {
                    var firstNumberIndex = this.referenceNumeral.search(/[a-z1-9]/);
                    var numArr = this.referenceNumeral.slice(firstNumberIndex).replace(/。/g, '').trim().split(
                        /，|,/);
                    if (numArr.length === 1 && numArr[0] === '') {
                        numArr = [];
                    } else {
                        numArr = numArr.map(function (val, index) {
                            var arr = [];
                            var wordIndex = val.search(/[a-zA-Z\u4e00-\u9fa5]/);
                            var numberLastIndex = 0;
                            if (/[a-z0-9]/.test(val[0])) {
                                for (var i = val.length; i >= 0; i--) {
                                    if (/[a-z0-9]/.test(val[i])) {
                                        numberLastIndex = i;
                                        break;
                                    }
                                }
                                arr.push(val.slice(0, numberLastIndex + 1));
                                arr.push(val.slice(wordIndex));
                                return arr;
                            }
                        });
                    }
                    return numArr.sort(function (a, b) {
                        if (a[1].indexOf(b[1]) === -1) {
                            return 1;
                        } else {
                            return -1;
                        }
                    });
                },
                outputWithBracket: function () {
                    var str = this.rightsRequest;
                    var arr = this.numeralArr;
                    return this.tagText(arr, str, true);
                },
                outputWithoutBracket: function () {
                    var str = this.outputWithoutSaid.trim();
                    var arr = this.numeralArr;
                    return this.tagText(arr, str, false);
                },
                outputWithoutSaid: function () {
                    return this.rightsRequest.replace(/所述|其特征为：|其特征在于：/g, '');
                },
                outputWithoutSaidArr: function () {
                    var str = this.outputWithoutSaid.trim();
                    if (str === '') {
                        return [];
                    } else {
                        var strArr = str.split(/\n/);
                        return strArr.map(function (val) {
                            if (val.indexOf('根据权利要求') !== -1) {
                                return val.slice(val.indexOf('，') + 1);
                            } else {
                                return val;
                            }
                        });
                    }
                }
            },
            methods: {
                clearReferenceNumeral: function () {
                    this.referenceNumeral = '';
                },
                clearRightsRequest: function () {
                    this.rightsRequest = '';
                },
                tagText: function (arr, text, bracketFlag) {
                    text = checkNumeral(arr, text, bracketFlag);
                    if (bracketFlag) {
                        if (text === '') {
                            return [];
                        } else {
                            var textArr = text.split(/\n/);
                            return textArr;
                        }
                    } else {
                        if (text === '') {
                            return [];
                        } else {
                            var textArr = text.split(/\n/);
                            return textArr.map(function (val) {
                                if (val.indexOf('根据权利要求') !== -1) {
                                    return val.slice(val.indexOf('，') + 1);
                                } else {
                                    return val;
                                }
                            });
                        }
                    }

                    function checkNumeral(arr, text, bracketFlag) {
                        for (var i = 0; i < arr.length; i++) {
                            if (bracketFlag) {
                                var numeralText = '（' + arr[i][0] + '）';
                            } else {
                                var numeralText = '' + arr[i][0];
                            }
                            var flag = true;
                            var num = 0;
                            var len = 0;
                            while (flag) {
                                var index = text.indexOf(arr[i][1], num + len);
                                if (index === -1) {
                                    flag = false;
                                } else {
                                    len = arr[i][1].length;
                                    num = index;
                                    if (i === 0) {
                                        text = text.slice(0, index + len) + numeralText + text.slice(index +
                                            len);
                                    } else {
                                        len = arr[i][1].length;
                                        num = index;
                                        var numeralFlag = false;
                                        for (var j = 0; j < i; j++) {
                                            if (arr[j][1].indexOf(arr[i][1]) !== -1) {
                                                numeralFlag = true;
                                            }
                                        }
                                        if (numeralFlag) {
                                            var numeralFlag2 = true;
                                            for (var k = 0; k < i; k++) {
                                                if (index !== text.indexOf(arr[k][1], index)) {
                                                    var preIndex = arr[k][1].indexOf(arr[i][1]);
                                                    var preLen = arr[k][1].length;
                                                    if (preIndex !== -1) {
                                                        var preText = text.substr(index - preIndex, preLen);
                                                        if (preText == arr[k][1]) {
                                                            numeralFlag2 = false;
                                                            break;
                                                        }
                                                    }
                                                } else {
                                                    numeralFlag2 = false;
                                                    break;
                                                }
                                            }
                                            if (numeralFlag2) {
                                                text = text.slice(0, index + len) + numeralText + text.slice(
                                                    index + len);
                                            }
                                        } else {
                                            text = text.slice(0, index + len) + numeralText + text.slice(
                                                index + len);
                                        }
                                    }
                                }
                            }
                        }
                        return text;
                    }
                },
                confirmModal: function () {
                    this.$Modal.confirm({
                        title: '常见问题',
                        content: '<ol class="problem-list"><li>不支持IE8及其以下浏览器。</li><li>可能会有错误标记，请注意检查转换后内容是否有错误。</li><li>有问题可以反馈给我。</li</ol>'
                    });
                }
            }
        });
    </script>
</body>

</html>
